@using System.Web.Optimization
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
}
<html>
    <body>
        <div>
            Hello - This is  from ViewRendering : @Html.Sitecore().Field("title") 
        </div>
    </body>
</html>
